body
{
	position: relative;
	padding-top: 70px;
}

.navbar-bright
{
	background-color:#111155;
	color:#fff;
}

.affix-top,.affix
{
	position: static;
}

@media (min-width: 979px)
{
	#sidebar.affix-top
	{
		position: static;
		margin-top:30px;
		width:228px;
	}

	#sidebar.affix
	{
		position: fixed;
		top:70px;
		width:228px;
	}
}

#sidebar li.active
{
	border:0 #eee solid;
	border-right-width:5px;
}

footer
{
	padding-bottom: 20px;
}

/***********************************************************************************
* Opinionated Defaults                                                             *
***********************************************************************************/

/* A better looking default horizontal rule */
hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/* Remove the gap between these elements and the bottom of their containers */
audio, canvas, iframe, img, svg, video
{
	vertical-align: middle;
}

/* Allow only vertical resizing of textareas */
textarea
{
	resize: vertical;
}